<head>
   <style>
        body {
            background: url(<%= asset_path '8BWvUj.jpg' %>);
            background-size: cover;
            background-attachment: fixed;
            }
    </style> 

</head>
<body>
<div class="articleform">	
<%= tinymce %>
<center><h1>Edit Article</h1></center>
<%=render 'form'%>
</div>
</body>