<head>
    <style>
        body {
            background: url(<%= asset_path '8BWvUj.jpg' %>);
            background-size: cover;
            background-attachment: fixed;
            font-family: 'Open Sans Regular';
}
            
    </style>        
</head>

<body>
<p>
<%if logged_in? %>
	<div >
	  <center><button type="button" class="btn btn-lg btn-default"><%=link_to "Create New Article", new_article_path %></button></center>
	</div>
<% end %>
</p>
<%= render 'article' %>
<center><%= will_paginate @articles, renderer: BootstrapPagination::Rails %></center>
</body>