<p>
<%if logged_in? %>
	<div style="margin-top: 10%">
	  <button type="button" class="btn btn btn-block"><%=link_to "Create new Article", new_article_path %></button>
	</div>
<% end %>
</p>
<%= render 'article' %>
<center><%= will_paginate @articles, renderer: BootstrapPagination::Rails %></center>