<head>
   <style>
        body {
            background: url(<%= asset_path '8BWvUj.jpg' %>);
            background-size: cover;

            }
    </style> 

</head>
<body>
<div class="articleform">	
<center style="margin-top: 10%"><h1 style="color: rgb(0,0,128);">Create Article </h1></center>
<%= render 'form'%>
</div>
</body>