<style>
        body {
            background: url(<%= asset_path '8BWvUj.jpg' %>);
            background-size: cover;
            }
</style>

<center style="margin-top: 10%"><h1 style="color: rgb(0,0,128);">Create an Article </h1></center>


<%= render 'form'%>