<center style="margin-top: 5%"><h1 style="color: rgb(0,0,128);">Edit Profile </h1></center>

	<%= render 'form', user: @user %>

	<%= link_to 'Show', @user, class: "btn btn-xs btn-primary" %> |
	<%= link_to 'Back', users_path , class: "btn btn-xs btn-primary"%>
</div>
