<head>
   <style>
        body {
            background: url(<%= asset_path '8BWvUj.jpg' %>);
            background-size: cover;
            background-attachment: fixed;

            }
    </style> 

</head>

<body>
<div class="articleform">
<center style="margin-top: 5%"><h1 style="color: rgb(0,0,128);">Edit Profile </h1></center>

	<%= render 'form', user: @user %>

	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', users_path%>
</div>	
</body>
