<!DOCTYPE html>
<head>
	<style>
        body {
            background: url(<%= asset_path '8BWvUj.jpg' %>);
            background-size: cover;
            background-attachment: fixed;
            }
    </style> 
</head>
<body>
<div class="left">
    <h1><%= image_tag("logo2.png", size: "200x200", alt: "Edit Entry")%></h1>
    <p>A platform where you can share your thoughts</p>
 </div>
<br><br>
<div class="sign">
	<br><br><br><br> 
	<h3 align="center" style="margin-bottom: 10px; ">Want to add an account at Students Corner?</h3>
	<h3 align="center" style="margin-bottom: 10px;">Then Sign Up now and join Us</h3>
	<br>
	<p align="center"><%=link_to "Sign Up Now", new_user_path , class: 'btn btn-info'%></p>
	<br><br><br><br>
</div>
</body>
</html>
