<center><h1 style="color: rgb(0,0,128); text-decoration: underline;">School Of Computer Sciences</h1></center>
<br>
<br>

<p>The Department of Computer Science was established in August 1994. The Department of Computer Science was renamed to School of Computer Sciences in 2011. The School encompasses three departments viz. Dept. of Computer Applications, Dept. of Computer Science, Dept. of Information Technology and UGC Computer Center and runs three courses under this departments M.C.A. and M.Sc. (Computer Science), M.Sc. (Information Technology). It has approx. 24000 Sq. Feet built up area.</p> 

<p>In a short span of time school has earned lot of reputation and popularity for providing latest, quality education and fulfilling growing needs for the skilled professionals, of the ever changing Software Industry and the IT world .</p>

<p>School consist of well-equipped laboratories for separate computing platforms, enabling the students to work with different cutting edges and hot cake technologies.</p>

<p>Enough laboratory time is made available to the students for maximum utilization of the computing facilities. Our main strength is highly qualified & experienced faculty members, who are very enthusiastic in learning new technologies and updating their skill sets. Faculty members are always ready to guide students apart from regular teaching hours and maintaining the disciplined behavior in the departments.</p>

<p>We maintain a very indusive, feel-at-home & open culture in the premise, because we believe in progressive unfoldment of the students towards becoming perfect IT professionals. The department not only provides the IT professionals but apart from regular studies, we cultivate the virtues of discipline, high Moral values, Competitiveness & Team spirit in our students, which leads to the overall personality development of the students.</p>
<br>



<a href="http://www.nmu.ac.in/docs/en-us/home.aspx" active = "true">For more Information visit official site</a>