<style>
        body {
            background: url(<%= asset_path '8BWvUj.jpg' %>);
            background-size: cover;
            }
</style>

<!--Grid row-->
<div class="row mb-5">

  <!--Grid column-->
  <div class="col-lg-4 col-md-12">

    <p class="h5 mb-4"></p>

    <div class="embed-responsive embed-responsive-16by9 z-depth-1">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NjwUHXoi8lM" style="height: 101%"
        allowfullscreen></iframe>
    </div>
  </div>

  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6">

    <p class="h5 mb-4"></p>

    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3JEYmKp9jNc" style="height: 101%"
        allowfullscreen></iframe>
    </div>

  </div>

  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6">

    <p class="h5 mb-4"></p>

    <div class="embed-responsive embed-responsive-16by9 z-depth-2">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RBSGKlAvoiM" style="height: 101%"
        allowfullscreen></iframe>
    </div>

  </div>

  <!--Grid column-->

</div>
<!--Grid row-->

<!--Grid row-->
<div class="row mb-5">

  <!--Grid column-->
  <div class="col-lg-4 col-md-12">

    <p class="h5 mb-4"></p>

    <div class="embed-responsive embed-responsive-16by9 z-depth-3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t2CEgPsws3U" allowfullscreen></iframe>
    </div>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6">

    <p class="h5 mb-4"></p>

    <div class="embed-responsive embed-responsive-16by9 z-depth-4">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GY7Ps8fqGdc" allowfullscreen></iframe>
    </div>

  </div>

  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6">

    <p class="h5 mb-4"></p>

    <div class="embed-responsive embed-responsive-16by9 z-depth-5">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pPy0GQJLZUM" allowfullscreen></iframe>
    </div>

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->

<!--Grid row-->
<div class="row d-flex justify-content-center">

  <!--Grid column-->
  <div class="col-md-6">

    <p class="h5 mb-4"></p>

    <div class="embed-responsive embed-responsive-16by9 hoverable">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fa3Iczgh8Ok" style="height: 101%"
        allowfullscreen></iframe>
    </div>

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->