$navbar-default-bg: #566d75;
$navbar-default-link-color: rgb(255,255,255);

@import "bootstrap-sprockets";
@import "bootstrap";

body{
    font-family: 'Open Sans Regular';
}

.left{
    margin-top: 100px;
    float:left;
    width: 500px;
    font-family: 'Open Sans Regular';
    text-align: center;
    color: #fff;
}
.sign{
    font-family: 'Open Sans Regular';
    background-color: #fff;
    float: right;
    width: 500px;
    padding: 10px 10px 20px 30px;
    border-radius: 5px;
    align-item: center;
}
.articleform{

    font-family: 'Open Sans Regular';
    background-color: rgba(245, 245, 245, 0.8); 
    width: 800px;
    margin-left:155px; 
    padding: 20px 20px 20px 30px;
    border-radius: 5px;
    align-item: center;
    
}


#logo{
    float: left;
    font-size: 1.7em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#logo:hover {

    color: #fff;
    
    text-decoration: none;
    
    }
    
    .center {
    
    text-align: center;
    
    }


    .nav{
    color:  rgb(255, 255, 255);
    font-family: 'Open Sans Regular';
    font-style: bold;
    }
    
    .jumbotron {
    
    margin-top:30px;
    
    background-image: asset-url('aa.jpg');
    
    background-size: cover;
    
    height: 550px;
    
    }
    
    .jumbotron h1 {
    
    color: #fff;
    
    text-align: center;
    
    margin-bottom: 30px;
    
    letter-spacing: -1px;
    
    font-weight: bold;
    
    }
    

    .jumbotron1 {
    
    background-color: #dddddd;

    background-size: cover;
    
    height: 550px;    
    }

    .btn-xlarge {
    
    font-size: 1.7em;
    
    background-color: black;
    
    }
    
    footer {
    
    margin-top: 45px;
    
    padding-top: 5px;
    
    border-top: 1px solid #eaeaea;
    
    color: #777;
    
    
    }
    
    footer a:hover {
    
    color: #222;
    
    }
    
    footer small {
    
    float: left;
    
    }
    
    footer ul {
    
    float: right;
    
    list-style: none;
    
    }
    
    footer ul li {
    
    float: left;
    
    margin-left: 15px;
    
    }

    h3 {
    
        columns: #fff;;
        
        text-align: center;
        
        margin-bottom: 30px;
        
        letter-spacing: -1px;
        
        font-weight: bold;
        
   }

   .description{
    columns: #ddd;;
        
    margin-bottom: 30px;
    
    letter-spacing: 1px;
    
   }

   ul,li{

color: #ddd;  
font-size: 15px; 
}


