<div class="container">

<footer class="footer">

<small>

Copyright © <a href="https://www.google.com">My Blog : StudentsCorner</a>

by <a href="https://sachinujjainkar.com">Sachin Ujjainkar,Megha Sonkusare and Harshada Chinchole</a>

</small>

<nav>

<ul>
</ul>

</nav>

</footer>

</div>

