<div class="container">

<footer class="footer">

<small>

Copyright © <a href="https://www.google.com">My Blog : StudentsCorner</a>

by Sachin Ujjainkar,Megha Sonkusare and Harshada Chinchole

</small>

<nav>

<ul>
</ul>

</nav>

</footer>

</div>

